{% extends 'base.html' %}
<!-- content -->
{% load static %}

{% block content %}


<div class="row mb-2" style="margin-top: 20px;">
    <div class="col-md-12 blog-main">
        <div class="blog-post">
            <h1>{{ building.title }}</h1>
            <div class="desc1-left col-md-6">
                <img src="{{ building.image.url }}" class="img-fluid" alt="">
            </div>

            <div>
                <span><b>Год:</b> {{ building.year }}</span>
            </div>
            <div style="list-style: none">
                <span><b>Архитекторы: </b>
                    {% for a in building.architect.all %}
                        <a href="{{ a.get_absolute_url }}">
                            {{ a.name }} 
                        </a>
                    {% endfor %}
                </span>
            </div>
            <div>
                <span><b>Улица: </b>
                    {% for s in building.street.all %}
                    <a href="{{ s.get_absolute_url }}">
                        {{ s.name }} 
                    </a>
                    {% endfor %}
                </span>
                <span>{{ building.housenumber }} </span>
                {% if  building.letter %}
                <span>building.letter </span>
                {% endif %}
            </div>
            <div>
                <span><b>Стиль: </b> {{ building.archstyle }}</span>
                
            </div>
            <div>
                <span><b>Категория: </b> {{ building.category }}</span>
            </div>
            <br>
            <h2>Описание: </h2>
            <div>
                {{ building.text|safe }}
            </div>




        </div>
    </div>
</div> 

<div class="row">
    <div class="single-form-left">
        <!-- contact form grid -->
        <div class="contact-single">
            <h5 class="editContent" style="outline: none; cursor: inherit;">Комментарии: 
                            <span class="sub-tittle editContent">{{ building.buildingcomment_set.count }}</span></h5>
            <form action="{% url 'add_comment' building.id %}" method="post" class="mt-4" id="formReview">
                {% csrf_token %}
                <input type="hidden" name="parent" id="contactparent" value="">

                <div class="form-group editContent">
                    <label for="contactcomment" class="editContent">
                        Ваш комментарий *
                    </label>
                    <textarea class="form-control border" rows="5" name="comment"
                              id="contactcomment" required=""></textarea>
                </div>

                <button type="submit"
                        class="mt-3 btn btn-success btn-block py-3">
                    Отправить
                </button>
            </form>

        </div>
        <!--  //contact form grid ends here -->
    </div>
</div>



<div>       
  <div class="row">
      <div class="col" style="padding: 12px;">
        {% for comment in building.get_comment %}
      <div class="d-flex flex-start mt-4">
            {% if comment.profile.photo %}
            <img class="rounded-circle shadow-1-strong me-3" src="{{ comment.profile.photo.url }}" alt="avatar" width="65" height="65" />
            {% else %}
            <img class="rounded-circle shadow-1-strong me-3" src="{% static 'images/te2.jpg' %}" alt="avatar" width="65" height="65" />
            {% endif %}
              <div class="flex-grow-1 flex-shrink-1">
                <div>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-1">
                      {{comment.profile }}
                      <span style="font-style:italic; font-size: small; color: rgb(107, 107, 107); "> {{comment.time_create|date:"d.m.Y H:i"}}</span>
                    </p>
                    <a href="#formReview" onclick="addReview('{{ comment.profile }}', '{{ comment.id }}')">Ответ</a>
                  </div>
                  <p class="small mb-0">
                    {{ comment.comment }}
                  </p>
                </div>
              
          
                  {% for c in comment.buildingcomment_set.all %}
                  <div class="d-flex flex-start mt-4">
                      {% if c.profile.photo %}
                      <img class="rounded-circle shadow-1-strong me-3" src="{{ c.profile.photo.url }}" alt="avatar" width="65" height="65" />
                      {% else %}
                      <img class="rounded-circle shadow-1-strong me-3" src="{% static 'images/te2.jpg' %}" alt="avatar" width="65" height="65" />
                      {% endif %}
                    <div class="flex-grow-1 flex-shrink-1">
                      <div>
                        <div class="d-flex justify-content-between align-items-center">
                          <p class="mb-1">
                            {{ c.profile }}
                            <span style="font-style:italic; font-size: small; color: rgb(107, 107, 107); "> {{c.time_create|date:"d.m.Y H:i"}}</span>
                          </p>
                          <a href="#formReview" onclick="addReview('{{ comment.profile }}', '{{ comment.id }}')">Ответ</a>
                        </div>
                        <p class="small mb-0">
                          {{ c.comment }}
                        </p>
                      </div>
                    </div>
                  </div>                          
                  {% endfor %}

              </div>  
          </div>
          {% endfor %}
      </div>
  </div>      
</div> 

    


<script>
  function addReview(name, id) {
      document.getElementById("contactparent").value = id;
      document.getElementById("contactcomment").innerText = `${name}, `

  }
</script>


{% endblock %}
<!-- end content -->
